* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    direction: rtl;
}

input:focus {
    outline: none;
}

* {
    font-family: 'Dosis' !important;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    overflow-x: hidden;
}

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 94, 94);
    border-radius: 10px;
}